{{#each posts as |post| }}
  {{#if @first}}
  {{!-- Featured first post --}}
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">
        {{post.title}}
      </h1>
      <p class="lead my-3">
        {{make_substring post.content}}
      </p>
      <p class="lead mb-0">
        <a href="/post/{{post.id}}" class="text-white fw-bold">Continue reading...</a>
      </p>
    </div>
  </div>
  {{else}}
  
  {{#if (is_odd @index)}}
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{make_substring post.content}}</p>
            <a href="/post/{{post.id}}" class="text-black">Continue reading</a>
          </div>
          <div class="card-footer text-muted">
            {{post.user.name}} - {{format_date post.date_created}}
          </div>
        </div>
    </div>
  {{/if}}
  {{#if (is_even @index)}}
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{make_substring post.content}}</p>
            <a href="/post/{{post.id}}" class="text-black">Continue reading</a>
          </div>
          <div class="card-footer text-muted">
            {{post.user.name}} - {{format_date post.date_created}}
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    
  {{/if}}
{{/each}}