{{#each posts as |post| }}
  {{#if @first}}
  {{!-- Featured first post --}}
  <a href="/post/{{post.id}}" class="text-white text-decoration-none">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-8 px-0">
        <h1 class="display-4 fst-italic">
          {{post.title}}
        </h1>
        
        <p class="lead my-3">
          {{make_substring post.content}}
        </p>
        <span class="text-muted m-0 p-0">{{post.user.name}} - {{format_date post.date_created}}</span>
      </div>
    </div>
  </a>
  {{else}}
  {{!-- Left column --}}
  {{#if (is_odd @index)}}
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{make_substring post.content}}</p>
            <a href="/post/{{post.id}}" class="text-black stretched-link">Continue reading...</a>
          </div>
          <div class="card-footer text-muted">
            {{post.user.name}} - {{format_date post.date_created}}
          </div>
        </div>
    </div>
  {{/if}}
  {{!-- Right column --}}
  {{#if (is_even @index)}}
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{make_substring post.content}}</p>
            <a href="/post/{{post.id}}" class="text-black stretched-link">Continue reading...</a>
          </div>
          <div class="card-footer text-muted">
            {{post.user.name}} - {{format_date post.date_created}}
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    
  {{/if}}
{{/each}}