{{!-- Featured Post --}}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">
      {{posts.[0].title}}
    </h1>
    <p class="lead my-3">
      {{posts.[0].content}}
    </p>
    <p class="lead mb-0">
      <a href="/post/{{posts.[0].id}}" class="text-white fw-bold">Continue reading...</a>
    </p>
  </div>
</div>

{{!-- Loop over all posts --}}
{{#each posts as |post| }}
<div class="row mb-2">
  <div class="col-md-12">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <!-- <strong class="d-inline-block mb-2 text-primary">World</strong> -->
        <h3 class="mb-0">{{post.title}}</h3>
        <div class="mb-1 text-muted">{{post.user.name}} - {{format_date post.date_created}}</div>
        <p class="card-text mb-auto">
          {{post.content}}
        </p>
        <a href="/post/{{post.id}}" class="stretched-link text-black">Continue reading..</a>
      </div>
    </div>
  </div>
</div>
{{/each}}
