<div class="row text-center mb-4">
  <div class="col">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
</div>

{{!-- List of comments --}}
<div class="row justify-content-center">
  <div class="col-md-8">

    {{#each comments as |comment|}}
    <div class="card mb-3 test">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{comment.content}}</p>
          <footer class="blockquote-footer">{{comment.user.name}} {{format_date comment.date_created}}</footer>
        </blockquote>
      </div>
    </div>
    {{/each}}

  {{!-- Add comment --}}
    {{#if logged_in}}
    <div id="postId" data-post="{{id}}">
      <form class="form new-comment-form">
      <div class="text-center mb-1">
        <textarea class="form-control" id="commentInput" rows="3" placeholder="Leave a comment on this post.."></textarea>
      </div>
      <div class="d-grid gap-2 mb-3">
        <button class="btn btn-secondary" type="submit">Submit Comment</button>
      </div>
      </form>
    </div>
    {{/if}}

  </div>
</div>

<script src="../js/comment.js"></script>
